.today-weather-container {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;
  background-color: rgb(5, 2, 103);
  width: 310px;
  top: 0;
  right: 0;
}

.today-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.today-week-day {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.today-temp-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.today-temp-icon {
  height: 50px;
}

.today-temp-degrees {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: white;
}

.today-temp-degrees-sign {
  font-size: 20px;
  vertical-align: top;
}

.today-city {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: white;
}
